@{
    ViewBag.Title = "Главная";
}


<div>
    <p class="subheader">Практическая часть</p>
    <p>
        Создать приложение ASP.NET Core MVC. Стилизацию приложения выполняйте при помощи фреймворка Bootstrap.
    </p>
    <p>
        Примените страницу компоновки. Не забывайте создать модель для решения задачи. По GET-запросу /Home/Index выводите этот текст.
    </p>
    <p>
        Задача 1. Туристическая фирма организует пешие маршруты по степным заказникам. Сведения о туристических маршрутах содержат: идентификатор маршрута, начальный пункт маршрута, обязательный промежуточный пункт маршрута, конечный пункт маршрута, протяженность маршрута в км (целое число), сложность маршрута (значение из ряда А-, А, А+, В-, В, В+, С-, С, С+; А- соответствует минимальной сложности, С+ соответствует максимальной сложности), фамилия и инициалы инструктора маршрута (всего на фирме работает пять инструкторов, требуется редактировать сведения об инструкторах, удалять или добавлять инструктора не надо).
    </p>
    <p>
        Сведения об инструкторах содержат: идентификатор инструктора, фамилия, имя, отчество, дата рождения, категория (А, В, С; А – низшая категория, С – высшая категория).
    </p>
    <p>
        Данные о маршрутах и инструкторах хранить в файле routes.json, instructors.json в папке App_Data. Реализуйте следующий функционал (критерии сортировки и выборки задавайте через переменные маршрута):
    </p>
    <ul class="taskList">
        <li>Добавление маршрута (в форме на отдельной странице)</li>
        <li>Редактирование сведений о маршруте (в форме на отдельной странице, это может быть та же страница, что страница добавления маршрута)</li>
        <li>Удаление сведений о маршруте</li>
        <li>Вывод сведений о маршруте в порядке хранения в файле</li>
        <li>Вывод сведений о маршруте по убыванию протяженности маршрута</li>
        <li>Вывод сведений о маршруте по возрастанию протяженности маршрута</li>
        <li>Вывод сведений о маршруте по возрастанию сложности</li>
        <li>Вывод маршрутов с заданным начальным пунктом</li>
        <li>Вывод маршрутов, проходящих через заданный промежуточный пункт</li>
        <li>Вывод маршрутов с протяженностью, попадающей в заданный интервал</li>
        <li>Редактирование сведений об инструкторе</li>
        <li>Вывод сведений об инструкторах в порядке хранения в файле</li>
        <li>Вывод сведений об инструкторах в порядке убывания категорий</li>
        <li>Вывод сведений об инструкторах в алфавитном порядке</li>
        <li>Вывод сведений об инструкторах с заданной категорией</li>
        <li>Выводите сведения об инструкторе, выбранном кнопкой (аналогично редактированию) в модальном «окне» на той же странице, что и сведения об инструкторах (используйте AJAX, возвращение JSON из метода действия контроллера)  </li>
    </ul>
    <p class="subheader">Дополнительно</p>
    <p>
        Запись занятия можно скачать по <a class="link" target="_blank" href="https://cloud.mail.ru/public/Cz4R/buSLdFyMe">этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>
</div>